<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Proprietary and Confidential
  ~
  ~ Copyright (c) 2025 R N W Gunawardana. All Rights Reserved.
  ~
  ~ This software and its documentation are proprietary and confidential information of R N W Gunawardana.
  ~ No part of this software, including but not limited to the source code, documentation, specifications,
  ~ and design, may be reproduced, stored in a retrieval system, transmitted in any form or by any means,
  ~ or distributed in any way without the explicit prior written permission of R N W Gunawardana.
  ~
  ~ UNAUTHORIZED COPYING, REPRODUCTION, MODIFICATION, DISTRIBUTION, OR USE OF THIS SOFTWARE,
  ~ VIA ANY MEDIUM, IS STRICTLY PROHIBITED.
  ~
  ~ The receipt or possession of this software does not convey any rights to use, modify, or distribute it.
  ~ Use of this software is subject to a valid license agreement with R N W Gunawardana.
  ~
  ~ THIS SOFTWARE IS PROVIDED "AS IS" WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED,
  ~ INCLUDING, BUT NOT LIMITED TO WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE
  ~ AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIMS,
  ~ DAMAGES OR OTHER LIABILITIES ARISING FROM THE USE OF THIS SOFTWARE.
  ~
  ~ AI Training Restriction Notice:
  ~ Use of this codebase for training artificial intelligence and machine learning models is strictly
  ~ prohibited without explicit written permission from R N W Gunawardana. Any unauthorized use for
  ~ AI/ML training purposes will be considered a violation of intellectual property rights and may
  ~ result in legal action.
  -->
<Configuration status="WARN">
    <Properties>
        <Property name="LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Property>
        <Property name="LOG_DIR">${sys:logging.directory:-logs}</Property>
        <Property name="LOG_FILE_NAME">application</Property>
    </Properties>

    <Appenders>
        <!-- Console Appender -->
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>

        <!-- File Appender -->
        <RollingFile name="FileAppender" fileName="${LOG_DIR}/${LOG_FILE_NAME}.log"
                     filePattern="${LOG_DIR}/${LOG_FILE_NAME}-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB"/>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <!-- Application Loggers -->
        <Logger name="com.gtrxone.person.socket.vast" level="DEBUG" additivity="false">
            <AppenderRef ref="ConsoleAppender"/>
            <AppenderRef ref="FileAppender"/>
        </Logger>

        <!-- Third-party Loggers -->
        <Logger name="org.apache" level="WARN"/>
        <Logger name="io.restassured" level="INFO"/>
        <Logger name="org.testng" level="INFO"/>

        <!-- Root Logger -->
        <Root level="INFO">
            <AppenderRef ref="ConsoleAppender"/>
            <AppenderRef ref="FileAppender"/>
        </Root>
    </Loggers>
</Configuration>
